body
{
	margin: 0px;
	background-color: #69b8f1;
	background-image: url('cloud_bg.jpg');
	font-family: 'Helvetica', sans-serif;
}
h3
{
	color: white;
	font-size: 32px;
	text-shadow: 2px 2px #6B6B6B;
}

#header{

	height: auto;
	width: 100%;
}

#header-left{
	color: white;
	font-size: 32px;
	text-shadow: 2px 2px #6B6B6B;
	float: left;
	margin: 25px;
}

#header-right{
	float: right;
}

#info-button {
	width: 75px;
	height: 50px;
	margin: 25px;

	color: white;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 2px 2px #6B6B6B;
	background-color: rgb(56, 132, 192);
	border: 0px outset black;
	box-shadow: 2px 2px #6B6B6B;
	border-radius: 10px;
}


.table {
	height: auto;
	width: 1068px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	overflow: hidden;
	font-weight: bold;
	font-size: 12px;
}

.table b{
	font-size: 18px;
	text-shadow: 2px 2px #6B6B6B;
}

.elemNum {
	margin-left: 5px;
}

.elemSym {
	font-size: 18px;
	text-shadow: 2px 2px #6B6B6B;
	position: relative;
	margin-left: 12px;
}

#table_lower{
	height:auto;
	width: 1068px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	clear: both;
	overflow: hidden;
	font-weight: bold;
}

#table_lower a{
	color: white;
	font-size: 12px;
}

#table_lower b{
	font-size: 18px;
	text-shadow: 2px 2px #6B6B6B;
}



/*blank spaces */


#blank_1{
	height:55px;
	width: 890px;
	float:left;
	margin:3px;
}

#blank_2{
	height:55px;
	width: 554px;
	float:left;
	margin:3px;
}

#blank_3{
	height:55px;
	width: 50px;
	float:left;
	margin:3px;
}

/*select by row */

.rowSelector {
	height:55px;
	width:50px;
	background-color: rgba(255, 255, 255, .2);
	float:left;
	margin:3px;
	color: black;
	text-align: center;
	cursor: pointer;
}

/*select by column */

#columns{
	height: 55px;
	width: 1018px;
	margin-left: 56px;
}

.colSelector {
	height: 55px;
	width: 50px;
	background-color: rgba(255, 255, 255, 0.2);
	float: left;
	margin: 3px;
	color: black;
	text-align: center;
	cursor: pointer;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col17, .col18{	
}


/*type divs */

.elementSq {
	height: 55px;
	width: 50px;
	float: left;
	margin: 3px;
	border-radius: 5px;
	box-shadow: 2px 2px #6B6B6B;
	cursor: pointer;
	color: white;
}


.alkali {
	background-color: #C34220;
}

.alkaliEarth {
	background-color: #F5D76D;
}

.transition {
	background-color: #3884C0;
}

.metalloids {
	background-color: #C84B89;
}

.postTransition {
	background-color: #A0C13F;
}

.nonMetals {
	background-color: #DC962A;
}

.halogens {
	background-color: #3A8C44;
}

.noble {
	background-color: #C1285A;
}

.lanthanides {
	background-color: #6EA845;
}

.actinides {
	background-color: #7BBEDD;
}

.row {
	height: 61px;
	width: auto;
}

.row_lower {
	margin-left: 168px;
	height:61px;
	width:auto;
}

#group_key {
	margin: 25px 0px 25px 55px;
	cursor: pointer;
	color: white;
}

.key {
	height:25px;
	width:auto;
	margin:3px;
	border-radius: 5px;
	box-shadow: 2px 2px  #6B6B6B;
	text-align: center;
	text-shadow: 1px 1px #6B6B6B;
	font-size: 14px;
	float: left;
	padding: 5px;
}

/*jQuery elements */

.dialog {
	font-size: 14px;
	font-weight: bold;
}

.dialog h1 {
	color: white;
	font-size: 36px;
	text-shadow: 2px 2px #6B6B6B;
}

.dialog h2 {
	color: white;
	font-size: 18px;
}

.dialog p {
	color: white;
	display: block;
}

.videoEmbed {
	float: right;
	display: block;
	position: absolute;
	bottom: 50px;
	left: 300px;
}