body
{
	margin: 0px;
	margin-top: 25px;
	background-color: #000;
	background-image: url('smv-bg-2.jpg');
	background-size: 100%;
	font-family: 'Helvetica', sans-serif;
}
h3
{
	color: white;
	font-size: 32px;
	text-shadow: 2px 2px #6B6B6B;
}

#header{

	height: auto;
	width: 100%;
}

#header-left{
	color: white;
	font-size: 32px;
	text-shadow: 2px 2px #6B6B6B;
	float: left;
	margin: 25px;
}

#header-right{
	float: right;
}

#info-button {
	width: 75px;
	height: 50px;
	margin: 25px;

	color: white;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 2px 2px #6B6B6B;
	background-color: rgb(56, 132, 192);
	border: 0px outset black;
	box-shadow: 2px 2px #6B6B6B;
	border-radius: 10px;
	outline: none;

	cursor: pointer;

	transition: 0.5s;
	-webkit-transition: 0.5s;
}

#info-button:hover {
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
}


.table {
	height: auto;
	width: 1068px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	overflow: hidden;
	font-weight: bold;
	font-size: 12px;
}

.table b{
	font-size: 18px;
	text-shadow: 2px 2px #6B6B6B;
}

.elemNum {
	margin-left: 5px;
}

.elemSym {
	font-size: 18px;
	text-shadow: 2px 2px #6B6B6B;
	position: absolute;
	margin-left: 12px;
	margin-top: 5px;
}

#table_lower{
	height:auto;
	width: 1068px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	clear: both;
	overflow: hidden;
	font-weight: bold;
}

#table_lower a{
	color: white;
	font-size: 12px;
}

#table_lower b{
	font-size: 18px;
	text-shadow: 2px 2px #6B6B6B;
}



/*blank spaces */


#blank_1{
	height:55px;
	width: 890px;
	float:left;
	margin:3px;
}

#blank_2{
	height:55px;
	width: 554px;
	float:left;
	margin:3px;
}

#blank_3{
	height:55px;
	width: 50px;
	float:left;
	margin:3px;
}

/*select by row */

.rowSelector, .colSelector {
	height:55px;
	width:50px;
	background-color: rgba(255, 255, 255, 0.75);
	float:left;
	margin:3px;
	font-size: 16px;
	line-height: 55px;
	color: black;
	text-align: center;
	cursor: pointer;

	transition: 0.25s;
	-webkit-transition: 0.25s;
}

.rowSelector:hover, .colSelector:hover, .elementSq:hover, .key:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

/*select by column */

#columns{
	height: 55px;
	width: 1018px;
	margin-left: 56px;
}

/*type divs */

.elementSq {
	height: 55px;
	width: 50px;
	float: left;
	margin: 3px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #6B6B6B;
	cursor: pointer;
	color: white;
}


.alkali {
	background-color: #C34220;
}

.alkaliEarth {
	/*background-color: #F5D76D;*/
	background-color: #95273C;
}

.transition {
	background-color: #3884C0;
}

.metalloids {
	background-color: #C84B89;
}

.postTransition {
	background-color: #A0C13F;
}

.nonMetals {
	background-color: #DC962A;
}

.halogens {
	background-color: #3A8C44;
}

.noble {
	background-color: #C1285A;
}

.lanthanides {
	background-color: #6EA845;
}

.actinides {
	background-color: #7BBEDD;
}

.row {
	height: 61px;
	width: auto;
}

.row_lower {
	margin-left: 168px;
	height:61px;
	width:auto;
}

#group_key {
	margin: 25px 0px 25px 25px;
	cursor: pointer;
	color: white;
}

.key {
	height:25px;
	width:auto;
	margin:5px;
	border-radius: 5px;
	box-shadow: 2px 2px  #6B6B6B;
	text-align: center;
	text-shadow: 1px 1px #6B6B6B;
	font-size: 14px;
	float: left;
	padding: 5px;
}

/*jQuery elements */

.dialog {
	font-size: 14px;
	font-weight: bold;
}

.dialog h1 {
	color: white;
	font-size: 36px;
	text-shadow: 2px 2px #6B6B6B;
}

.dialog h2 {
	color: white;
	font-size: 18px;
}

.dialog p {
	color: white;
	display: block;
	max-width: 300px;
}

.videoEmbed {
	float: right;
	display: block;
	position: absolute;
	bottom: 50px;
	left: 350px;
}

#dialog-info {
	background-color: lightgrey;
}

.credits {
	font-size: 12px;
	font-style: italic;
}

.unselected {
	opacity: 0.5;
}

.selected {
}

/* UI modal edits */

.ui-dialog .ui-dialog-titlebar-close {
	right: 1em;
	top: 0;
	text-decoration: none;
	margin: 0;
	width: auto;
	height: auto;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
	border: none;
}